-- CreateEnum
CREATE TYPE "ComplianceStatus" AS ENUM ('PENDING', 'SYNCED', 'FAILED', 'EXEMPT');

-- AlterTable
ALTER TABLE "fee_invoices" DROP COLUMN "complianceStatus",
ADD COLUMN     "complianceStatus" "ComplianceStatus" NOT NULL DEFAULT 'PENDING';

